<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="header">
      <h1><11문 11답></h1>
    </div>
    <div id="main">
      Q1. 자기 이름 앞에, 자신이 듣고 싶은 꾸미는 말을 써서 자신을 소개해
      주세요. : 안녕하세요 안제현입니다. <br />
      Q2. 가장 좋아하는 영화는? : 패왕별희. <br />
      Q3. 가장 좋아하는 음식은 무엇인가요? : 샤브샤브(등촌식(미나리많은)) <br />
      Q4. 나의 장점은? : 어떤 상황에서도 긍정적인 면을 찾으려는 점<br />
      Q5. 취미와 특기는 무엇인가요? : 취미:맛집탐방, 특기 : 손재주(십자수,
      뜨개질, 타이핑(키보드(800타)))<br />
      Q6. 나의 최애템(가장 소중한 물건)은? : 컴퓨터<br />
      Q7. 나의 주량은?! : 시간 당 소주 1병(맥주나 막걸리는 잘 못마심)<br />
      Q8. 지금 가장 가고 싶은 여행지는? : 일본(원숭이가 있는 온천)<br />
      Q9. 10년 뒤 이루고 싶은 꿈이 있다면 무엇인가요?​ :공부하기를 멈추지 않은
      사람이 되고싶습니다.<br />
      Q10. 다섯글자로 나를 표현한다면?(이유 포함) : 안물어봤어 (옆에서 뭐가
      안된다, 모르겠다 라는 소리가 들려오면 상대가 먼저 안물어봐도 알려주고
      싶어해서 별명이 안물박사임)<br />
      Q11. 우리FISA 1기 동기들에게 한마디! : 우리 모두 회사에게, 동기에게,
      스스로에게 당당할 수 있도록 하루하루 충실히 보내면 좋겠습니다. 남은기간
      화이팅해서 모두 좋은 결과 얻어가면 좋겠어요. 우리피사로 사행시 우:우린
      리:할수있다. 피:. 사:. .음성 도메인에서 딥러닝 기반 voice conversion과
      음성 합성(어쿠스틱 모델), multi modal(nlp) 프로젝트 경험이 3회 있습니다.
      딥러닝 관련 프로젝트나 대회, 해커톤 등 데려가고싶으신분 부담없이 제의
      주시면 감사하겠습니다! 💙나를 알아 볼 수 있는 가장 잘 나온 사진을 첨부해
      주세요💙
    </div>
    <div>
      <img
        class="img-fluid rounded mb-5 mb-lg-0"
        width="500"
        src="../static/99.jpg"
        alt="..."
      />
    </div>

    <div id="footer">@정해정 다음 자기소개 부탁드립니다</div>
  </body>
</html>
